@model RegistrationFormEfCore.Dtos.ShowRegistration
@{
    ViewData["Title"] = "Registracijos požymiai";
}

@using (Html.BeginForm("SaveChanges", "Registration", FormMethod.Post))
{
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="align-middle">Registracijos požymiai</th>
                <th class="align-middle">Reikšmė</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.SelectedValue.Count; i++)
            {
                <tr>
                    <td class="align-middle">@Model.SelectedValue[i].Question.Text</td>
                    @Html.HiddenFor(a => Model.SelectedValue[i].QuestionId)
                    @Html.HiddenFor(a => Model.SelectedValue[i].RegistrationId)
                    @*<td>@Html.HiddenFor(a => a.RegistrationId)</td>*@
                    <td>
                        <div class="align-middle">
                            @Html.DropDownListFor(a => Model.SelectedValue[i].DropDownOptionId, new SelectList(Model.SelectedValue[i].Question.DropDownOptions, "Id", "Text"), new { @class = "w-50 init-disabled" })

                        </div>
                    </td>
                </tr>
            }
            @*@foreach (var question in Model.SelectedValue)//foreach su razor neveikia
                {
                    <tr>
                        <td class="align-middle">@question.Question.Text</td>

                        <td>
                            <div class="align-middle">
                                @Html.DropDownListFor(a => question.DropDownOptionId, new SelectList(question.Question.DropDownOptions, "Id", "Text"), new { @class = "w-50 init-disabled" })

                            </div>
                        </td>
                    </tr>
                }*@
        </tbody>
    </table>
    @Html.HiddenFor(m => m.RegistrationId)

    <button id="edit" type="button">Koreguoti požymius</button>
    <button class="init-disabled" type="submit" disabled>Saugoti pataisymus</button>
    <button id="reset-form" class="init-disabled" type="reset" disabled>Atšaukti pataisymus</button>
}


<script>
    let form = document.getElementById('form');
    let editBtn = document.getElementById('edit');
    let resetBtn = document.getElementById('reset-form');
    let initDisabledElements = document.getElementsByClassName('init-disabled');
    for (let element of initDisabledElements) {
        element.disabled = true;
    }

    //document.getElementsByClassName("init-disabled").disabled = true;

    editBtn.addEventListener('click', function () {
        for (let element of initDisabledElements)
            element.disabled = false;
        editBtn.disabled = true;
    });


</script>
