@model RegistrationFormEfCore.Dtos.ShowRegistration
@{
    ViewData["Title"] = "Registracijos požymiai";
}

@using (Html.BeginForm("SaveChanges", "Registration", FormMethod.Post, new { id = "form" }))
{
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th class="align-middle">Registracijos požymiai</th>
                <th class="align-middle">Reikšmė</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model.SelectedValue)
            {
                <tr>
                    <td class="align-middle">@question.Question.Text</td>
                    @*<td>@Html.HiddenFor(a => a.RegistrationId)</td>*@
                    <td>
                        <div class="align-middle">
                            @Html.DropDownListFor(a => question.DropDownOptionId, new MultiSelectList(question.Question.DropDownOptions, "Id", "Text"), new { @class = "w-50 init-disabled" })

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.HiddenFor(m => m.RegistrationId)

    <button id="edit" type="button">Koreguoti požymius</button>
    <button class="init-disabled" type="submit">Saugoti pataisymus</button>
    <button id="reset-form" class="init-disabled" type="reset">Atšaukti pataisymus</button>
}

@*<body>
        <form method="post">
            <fieldset>
                <legend>Registracijos požymiai</legend>

                @Html.LabelFor(s => s.Option)
                @Html.DropDownListFor(s => s.Option, new MultiSelectList(Model.Option, "Id", "Name"), "All")

                <div>
                    @foreach (var Item in @Model.Option)
                    {
                        @Item.Name @Item.Shop?.Name
                        @Html.ActionLink("Koreguoti požymius", "Edit", "Registration", new { id = Option.Id }, null)
                                @Html.ActionLink("Saugoti pataisymus", "Save", "Registration", new { id = shopItem.Id }, null)
                                @Html.ActionLink("Atšaukti pataisymus", "Delete", "Registration", new { id = shopItem.Id }, null)
                            }
                    }
                </div>
            </fieldset>
        </form>
    </body>*@

@section scripts
{
    <script>
        let form = document.getElementById('form');
        let editBtn = document.getElementById('edit');
        let resetBtn = document.getElementById('reset-form');
        let initDisabledElements = document.getElementsByClassName('init-disabled');
        editBtn.addEventListener('click', function () {
            for (let element of initDisabledElements)
                element.disabled = false;
            editBtn.disabled = true;
        });
        resetBtn.addEventListener('click', function () {
            form.reset();
            for (let element of initDisabledElements)
                element.disabled = true;
            editBtn.disabled = false;
        });
    </script>
}